@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-link:hover div {
  opacity: 1;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.fancy-border-radius {
  border-radius: 0px 200px 0px 0px;
  -webkit-border-radius: 0px 200px 0px 0px;
  -moz-border-radius: 0px 200px 0px 0px;
}
.resume-box::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.resume-box::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.resume-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.resume-box::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.resume-box::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}
.builders-link-box:hover .custom-line {
  width: 100%;
}
.builders-link-box:hover .right-arrow {
  opacity: 1;
}
.right-arrow {
  animation: move 0.7s infinite alternate;
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(5px);
  }
}
.resources-link:hover .img {
  transform: scale(1.1);
}

.curvy-box {
  background-image: linear-gradient(0deg, #ffffff, #fafbfc 0%);
}
.shape-box {
  border-radius: 71% 29% 26% 74% / 56% 30% 70% 44%;
}
.template-box:hover .template-link {
  bottom: 25%;
  opacity: 1;
}
.blog-box:hover .blog-img {
  transform: scale(1.1);
}
.card-box:hover .card-box-num {
  transform: translateY(0px);
}
.card-box:hover #num01 {
  color: #4b94ea;
}
.card-box:hover #num02 {
  color: #ea723c;
}
.card-box:hover #num03 {
  color: #2ca482;
}
.card-box:hover #num04 {
  color: #f892bc;
}

.template-img-box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  filter: blur(9px);
  opacity: 0;
}
.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

.resume-template-link:hover .link-button {
  opacity: 1;
  transform: translateY(0px);
}
.resume-template-link:hover .template-img-box::before {
  opacity: 1;
}

.resume-template-link:hover .button-row {
  opacity: 1;
  transform: translateY(0px);
}

.moveFromRightToLeft {
  animation: moveFromRightToLeft 15s linear infinite;
}
.moveFromLeftToRight {
  animation: moveFromLeftToRight 15s linear infinite;
}
.pauseAnimation {
  animation-play-state: paused;
}

.faq-box:hover .faq-plus {
  background-color: #fae315;
}
.resume-format-link:hover .resume-format-text {
  color: #fae315;
}
.cv-template-box:hover .cv-template-img {
  transform: translateX(-16px) translateY(-16px);
}

@media (max-width: 1250px) {
  .img-box {
    width: 450px;
  }
}
@media (max-width: 1002px) {
  .color-box {
    width: 100dvw;
    height: 350px;
  }
  .img-box {
    width: 90%;
    right: 5%;
    left: 5%;
    height: auto;
  }
}
@media (max-width: 897px) {
  .move-up {
    transform: translateY(-330px);
  }
  .move-down {
    transform: translateY(360px);
  }
}
@media (max-width: 600px) {
  .color-box {
    height: 180px;
  }
}

@keyframes moveFromRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes moveFromLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
